:root{
    --color1: #1d3a42;
    --color2: #306064;
    --color3: #dee4de;
    --color4: #ffffff;
    --color5: #14262b;
    --color6: #284247;
    --color7: rgb(48, 48, 48);
    --color8: rgb(29, 29, 29);
}
  
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Labrada:wght@300&family=Roboto+Condensed:wght@300&display=swap');
  
@keyframes rise {
    0% {
        top: 100%;
    }
    100% {
        top: 0;
    }
}
  
html{
    scroll-behavior: smooth;
}
  
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar */
#navbar{
    position: fixed;
    overflow: hidden;
    display: flex;
    width: 100%;
    top: 0;
    height: 80px;
    z-index: 1;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    padding-right: 30px;
    justify-content: flex-end;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.3);
    background: linear-gradient(90deg, var(--color2) 65%, var(--color1));
}

.navbar{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}
  
.navbar a{
    text-decoration: none;
    color: var(--color3);
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
  
.navbar a:hover{
    color: var(--color4);
}

.azterix {
    position: absolute; 
    height: 100%;
    top: 100%;
    left: 15px;
    animation: rise 1s ease-in-out 2s 1 forwards;
    transition: transform 0.7 ease-in-out, 0.7 ease-in-out;
}
  
.azterix:hover{
    transform: scale(1.03);
}
/* End of Navigation Bar */

/* Welcome Section */
#welcome-section {
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(90deg, var(--color8), var(--color7));
}
  
#welcome-section h1 {
    color: var(--color3);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
}
  
#profile-link {
    text-decoration: none;
    position: relative;
    color: var(--color3);
 }
  
#profile-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--color1), var(--color2));
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.7s ease-in-out;
}
  
#profile-link:hover::before {
    transform: scaleX(1);
}
  
#profile-link:hover {
    color: var(--color4);
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
/* End of Welcome Section */

/* Projects */
#projects{
    width: 100%;
    height: fit-content;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, var(--color5), var(--color6) 75%);
}
  
#my-projects{
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    color: var(--color4);
    font-weight: 600;
    letter-spacing: 2px;
    width: fit-content;
    margin-top: 120px;
    left: 50%;
    transform: translate(-50%);
}
  
#my-projects:hover{
    cursor: not-allowed; 
}
  
#my-projects:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    background-color: var(--color3);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.7s ease-in-out;
}
  
#my-projects:hover::before {
    transform: scaleX(1);
}
  
.project-flex{
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 200px 10px;
}
  
.project-tile {
    width: 100%;
    max-width: 350px;
    height: 400px;
    margin-bottom: 10px;
    background-color: #dee4de;
    border-radius: 2px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, 0.3s ease-in-out;
}
  
.project-tile:hover {
    transform: scale(1.1);
    cursor: url(https://cdn.custom-cursor.com/128/assets/pointers/32/Mickey_Hand_Pointer.png), auto;
    box-shadow: 1px 1px 10px 1px rgba(11, 15, 20, 0.3);
}
/* End of Projects Section */

/* Contact */
#contact {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(90deg, var(--color7), var(--color8));
}
  
.coffee {
    color: var(--color3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
}

.contact-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 25%;
    margin: 0 auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.contact-item {
    width: 45px;
    filter: invert(90%);
}
  
.contact-item:hover{
    filter: invert(100%);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
/* End of Contact Section */

/* Footer */
footer{
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 60px;
    bottom: 0;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    padding-right: 25px;
    padding-left: 25px;
    justify-content: space-around;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.3);
    background: linear-gradient(90deg, var(--color1), var(--color2) 65%);
  }
  
  .footer-text{
    list-style: none;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color3);
    font-size: 15px;
    gap: 200px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  
  .footer-text:hover{
    color: var(--color4);
    cursor: pointer;
  }
/* End of Footer */

/* Responsive */
@media only screen and (max-width: 1024px) {
    #navbar{
        height: 90px;
        background: linear-gradient(90deg, var(--color2) 45%, var(--color1));
    }
    .navbar a{
        font-size: 17px;
    }
    .azterix{
        height: 100%;
        left: 13px;
    }
    #welcome-section h1{
        width: 95%;
        top: 55%;
        font-size: 33px;
    }
    #projects{
        height: fit-content;
    }
    #my-projects{
        margin-top: 130px;
        font-size: 33px;
    }
    #my-projects:before{
        height: 1.3px;
    }
    .project-flex{
        margin-bottom: 20px;
        padding: 250px 3px 50px 3px;
    }
    .project-tile {
        max-width: 350px;
        height: 400px;
        margin-bottom: 60px;
    }
    .project-tile:hover {
        transform: scale(1.03);
    }
    .coffee{
        top: 40%;
        width: 95%;
        font-size: 33px;
    }
    .contact-flex {
        width: 40%;
        top: 52%;
        transform: translate(-50%, -50%);
    }
    .contact-item {
        width: 45px;
    }
    footer{
        height: 65px;
        padding: 5px 25px 5px 25px;
    }
    .footer-text{
        display: block;
        text-align: center;
        font-size: 13px;
        line-height: 15px;
    }
    .footer-text li:nth-of-type(1){
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 768px) {
    #navbar{
        height: 85px;
        background: linear-gradient(90deg, var(--color2) 45%, var(--color1));
    }
    .navbar a{
        font-size: 0px;
    }
    .azterix{
        height: 100%;
        left: 13px;
    }
    #welcome-section h1{
        width: 95%;
        top: 55%;
        font-size: 33px;
    }
    #projects{
        height: fit-content;
    }
    #my-projects{
        margin-top: 70px;
        font-size: 33px;
    }
    #my-projects:before{
        height: 1.3px;
    }
    .project-flex{
        margin-bottom: 20px;
        padding: 180px 3px 50px 3px;
    }
    .project-tile {
        max-width: 350px;
        height: 300px;
        margin-bottom: 50px;
    }
    .project-tile:hover {
        transform: scale(1.03);
    }
    .coffee{
        top: 40%;
        width: 95%;
        font-size: 33px;
    }
    .contact-flex {
        width: 55%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .contact-item {
        width: 42px;
    }
    footer{
        height: 65px;
        padding: 5px 25px 5px 25px;
    }
    .footer-text{
        display: block;
        text-align: center;
        font-size: 13px;
        line-height: 15px;
    }
    .footer-text li:nth-of-type(1){
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 480px) {
    #navbar{
        height: 80px;
        background: linear-gradient(90deg, var(--color2) 45%, var(--color1));
    }
    .navbar a{
        font-size: 0px;
    }
    .azterix{
        height: 100%;
        left: 12px;
    }
    #welcome-section h1{
        width: 95%;
        top: 55%;
        font-size: 27px;
    }
    #projects{
        height: fit-content;
    }
    #my-projects{
        margin-top: 60px;
        font-size: 27px;
    }
    #my-projects:before{
        height: 1.3px;
    }
    .project-flex{
        margin-bottom: 20px;
        padding: 140px 2px 40px 2px;
    }
    .project-tile {
        max-width: 350px;
        height: 250px;
        margin-bottom: 30px;
    }
    .project-tile:hover {
        transform: scale(1.03);
    }
    .coffee{
        top: 40%;
        width: 95%;
        font-size: 27px;
    }
    .contact-flex {
        width: 60%;
        top: 48%;
        transform: translate(-50%, -50%);
    }
    .contact-item {
        width: 38px;
    }
    footer{
        height: 60px;
        padding: 5px 25px 5px 25px;
    }
    .footer-text{
        display: block;
        text-align: center;
        font-size: 10px;
        line-height: 12px;
    }
    .footer-text li:nth-of-type(1){
        margin-bottom: 2px;
    }
}

@media only screen and (max-width: 360px) {
    #navbar{
        height: 75px;
        background: linear-gradient(90deg, var(--color2) 45%, var(--color1));
    }
    .navbar a{
        font-size: 0px;
    }
    .azterix{
        height: 100%;
        left: 11px;
    }
    #welcome-section h1{
        width: 95%;
        top: 55%;
        font-size: 25px;
    }
    #projects{
        height: fit-content;
    }
    #my-projects{
        margin-top: 60px;
        font-size: 25px;
    }
    #my-projects:before{
        height: 1.3px;
    }
    .project-flex{
        margin-bottom: 20px;
        padding: 130px 2px 30px 2px;
    }
    .project-tile {
        max-width: 350px;
        height: 225px;
        margin-bottom: 25px;
    }
    .project-tile:hover {
        transform: scale(1.03);
    }
    .coffee{
        top: 40%;
        width: 95%;
        font-size: 25px;
    }
    .contact-flex {
        width: 70%;
        top: 47%;
        transform: translate(-50%, -50%);
    }
    .contact-item {
        width: 35px;
    }
    footer{
        height: 55px;
        padding: 2px 6px;
    }
    .footer-text{
        display: block;
        text-align: center;
        font-size: 8px;
        line-height: 10px;
    }
    .footer-text li:nth-of-type(1){
        margin-bottom: 6px;
    }
}
